#container {
   width: 50000px;
}
#top {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0 0 -10px;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-100deg, #0F122E, #0B0E27);
   background: -o-linear-gradient(-100deg, #0F122E, #0B0E27);
   background: -moz-linear-gradient(-100deg, #0F122E, #0B0E27);
   background: linear-gradient(-135deg, #0F122E, #0B0E27);
   float: left;
}
h1,
h2,
h3 {
   font-family: inconsolata;
   color: #ffffff;
   display: flex;
   justify-content: center;
   font-weight: normal;
   text-align: center;
}
h3 {
   font-weight: bold;
}
p {
   font-family: inconsolata;
   font-weight: normal;
   color: #ffffff;
   display: flex;
   justify-content: center;
   width: 400px;
   margin: 30px auto;
   padding-top: 200px;
}

.star {
   height: 5px;
   width: 5px;
   border-radius: 3px;
   background-color: #ffffff;
   position: relative;
}


#aries {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-100deg, #0B0E27, #0F122E);
   background: -o-linear-gradient(-100deg, #0B0E27, #0F122E);
   background: -moz-linear-gradient(-100deg, #0B0E27, #0F122E);
   background: linear-gradient(-135deg, #0B0E27, #0F122E);
   float: left;
}
#aries .star.first {
   position: relative;
   left: -150px;
   top: 250px;
}
#aries .star.second {
   left: 75px;
   top: 175px;
}
#aries .star.third {
   left: 140px;
   top: 240px;
}
#aries .star.fourth {
   left: 142px;
   top: 270px;
}



#taurus {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -o-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -moz-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: linear-gradient(-135deg, #0F122E, #0B0E27);
   float: left;
}
#taurus .star.first {
   left: 200px;
   top: 90px;
}
#taurus .star.second {
   left: 185px;
   top: 95px;
}
#taurus .star.third {
   left: 100px;
   top: 140px;
}
#taurus .star.fourth {
   left: 40px;
   top: 160px;
}
#taurus .star.fifth {
   left: 10px;
   top: 175px;
}
#taurus .star.sixth {
   left: -10px;
   top: 150px;
}
#taurus .star.seventh {
   left: -30px;
   top: 185px;
}
#taurus .star.eighth {
   left: -40px;
   top: 151px;
}
#taurus .star.ninth {
   left: -100px;
   top: 154px;
}
#taurus .star.tenth {
   left: -200px;
   top: 260px;
}
#taurus .star.eleventh {
   left: -240px;
   top: 185px;
}



#gemini {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0B0E27, #0F122E,);
   background: -o-linear-gradient(-135deg, #0B0E27, #0F122E,);
   background: -moz-linear-gradient(-135deg, #0B0E27, #0F122E,);
   background: linear-gradient(-135deg, #0B0E27, #0F122E,);
   float: left;
}
#gemini .star.first {
   left: 30px;
   top: 50px;
}
#gemini .star.second {
   left: -70px;
   top: 80px;
}
#gemini .star.third {
   left: -10px;
   top: 100px;
}
#gemini .star.fourth {
   left: -130px;
   top: 120px;
}
#gemini .star.fifth {
   left: -60px;
   top: 125px;
}
#gemini .star.sixth {
   left: -100px;
   top: 130px;
}
#gemini .star.seventh {
   left: -130px;
   top: 160px;
}
#gemini .star.eighth {
   left: 80px;
   top: 160px;
}
#gemini .star.ninth {
   left: 130px;
   top: 180px;
}
#gemini .star.tenth {
   left: 150px;
   top: 170px;
}
#gemini .star.eleventh {
   left: -50px;
   top: 190px;
}
#gemini .star.twelfth {
   top: 210px;
}
#gemini .star.thirteenth {
   left: 110px;
   top: 210px;
}
#gemini .star.fourteenth {
   left: 100px;
   top: 240px;
}
#gemini .star.fifteenth {
   left: -40px;
   top: 245px;
}
#gemini .star.sixteenth {
   left: 70px;
   top: 280px;
}


#cancer {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -o-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -moz-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: linear-gradient(-135deg, #0B0E27, #0F122E);
   float: left;
}
#cancer .star.first {
   left: -15px;
   top: 60px;
}
#cancer .star.second {
   left: -5px;
   top: 150px;
}
#cancer .star.third {
   left: -15px;
   top: 180px;
}
#cancer .star.fourth {
   left: -60px;
   top: 250px;
}
#cancer .star.fifth {
   left: 50px;
   top: 280px;
}

#leo {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -o-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -moz-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: linear-gradient(-135deg, #0F122E, #0B0E27);
   float: left;
}
#leo .star.first {
   left: 150px;
   top: 70px;
}
#leo .star.second {
   left: 170px;
   top: 90px;
}
#leo .star.third {
   left: 90px;
   top: 100px;
}
#leo .star.fourth {
   left: 80px;
   top: 135px;
}
#leo .star.fifth {
   left: -70px;
   top: 132px;
}
#leo .star.sixth {
   left: 120px;
   top: 170px;
}
#leo .star.seventh {
   left: -70px;
   top: 190px;
}
#leo .star.eighth {
   left: -170px;
   top: 200px;
}
#leo .star.ninth {
   left: 120px;
   top: 230px;
}

#virgo {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -o-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -moz-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: linear-gradient(-135deg, #0B0E27, #0F122E);
   float: left;
}
#virgo .star.first {
   left: -20px;
   top: 50px;
}
#virgo .star.second {
   left: -10px;
   top: 130px;
}
#virgo .star.third {
   left: 140px;
   top: 115px;
}
#virgo .star.fourth {
   left: 120px;
   top: 155px;
}
#virgo .star.fifth {
   left: 50px;
   top: 170px;
}
#virgo .star.sixth {
   left: 0;
   top: 180px;
}
#virgo .star.seventh {
   left: -150px;
   top: 180px;
}
#virgo .star.eighth {
   left: -100px;
   top: 200px;
}
#virgo .star.ninth {
   left: -140px;
   top: 250px;
}


#libra {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -o-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -moz-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: linear-gradient(-135deg, #0F122E, #0B0E27);
   float: left;
}
#libra .star.first {
   left: -20px;
   top: 80px;
}
#libra .star.second {
   left: -80px;
   top: 150px;
}
#libra .star.third {
   left: 50px;
   top: 155px;
}
#libra .star.fourth {
   left: 0;
   top: 270px;
}


#scorpio {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -o-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -moz-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: linear-gradient(-135deg, #0B0E27, #0F122E);
   float: left;
}
#scorpio .star.first {
   left: 140px;
   top: 30px;
}
#scorpio .star.second {
   left: 145px;
   top: 35px;
}
#scorpio .star.third {
   left: 145px;
   top: 60px;
}
#scorpio .star.fourth {
   left: 140px;
   top: 90px;
}
#scorpio .star.fifth {
   left: 130px;
   top: 120px;
}
#scorpio .star.sixth {
   left: 50px;
   top: 85px;
}
#scorpio .star.seventh {
   left: 30px;
   top: 100px;
}
#scorpio .star.eighth {
   left: -10px;
   top: 160px;
}
#scorpio .star.ninth {
   left: -25px;
   top: 200px;
}
#scorpio .star.tenth {
   left: -35px;
   top: 240px;
}
#scorpio .star.eleventh {
   left: -70px;
   top: 245px;
}
#scorpio .star.twelfth {
   left: -120px;
   top: 243px;
}
#scorpio .star.thirteenth {
   left: -150px;
   top: 215px;
}
#scorpio .star.fourteenth {
   left: -145px;
   top: 200px;
}
#scorpio .star.fifteenth {
   left: -135px;
   top: 170px;
}
#scorpio .star.sixteenth {
   left: -130px;
   top: 180px;
}

#sagittarius {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -o-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -moz-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: linear-gradient(-135deg, #0F122E, #0B0E27);
   float: left;
}
#sagittarius .star.first {
   left: -30px;
   top: 90px;
}
#sagittarius .star.second {
   left: -10px;
   top: 105px;
}
#sagittarius .star.third {
   left: -6px;
   top: 108px;
}
#sagittarius .star.fourth {
   left: -1px;
   top: 102px;
}
#sagittarius .star.fifth {
   left: 80px;
   top: 90px;
}
#sagittarius .star.sixth {
   left: 60px;
   top: 125px;
}
#sagittarius .star.seventh {
   left: 20px;
   top: 145px;
}
#sagittarius .star.eighth {
   left: 5px;
   top: 140px;
}
#sagittarius .star.ninth {
   left: 130px;
   top: 140px;
}
#sagittarius .star.tenth {
   left: 90px;
   top: 160px;
}
#sagittarius .star.eleventh {
   left: 60px;
   top: 158px;
}
#sagittarius .star.twelfth {
   left: 57px;
   top: 190px;
}
#sagittarius .star.thirteenth {
   left: 65px;
   top: 210px;
}
#sagittarius .star.fourteenth {
   left: -60px;
   top: 160px;
}
#sagittarius .star.fifteenth {
   left: -50px;
   top: 175px;
}
#sagittarius .star.sixteenth {
   left: -140px;
   top: 155px;
}
#sagittarius .star.seventeenth {
   left: -190px;
   top: 180px;
}
#sagittarius .star.eighteenth {
   left: -140px;
   top: 270px;
}
#sagittarius .star.nineteenth {
   left: -110px;
   top: 250px;
}
#sagittarius .star.twentieth {
   left: -100px;
   top: 273px;
}



#capricorn {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -o-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -moz-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: linear-gradient(-135deg, #0B0E27, #0F122E);
   float: left;
}
#capricorn .star.first {
   left: -130px;
   top: 90px;
}
#capricorn .star.second {
   left: -120px;
   top: 93px;
}
#capricorn .star.third {
   left: -80px;
   top: 150px;
}
#capricorn .star.fourth {
   left: -75px;
   top: 93px;
}
#capricorn .star.fifth {
   left: -80px;
   top: 160px;
}
#capricorn .star.sixth {
   position: relative;
   left: -15px;
   top: 97px;
}
#capricorn .star.seventh {
   left: -10px;
   top: 130px;
}
#capricorn .star.eighth {
   left: -20px;
   top: 210px;
}
#capricorn .star.ninth {
   left: 30px;
   top: 230px;
}
#capricorn .star.tenth {
   left: 40px;
   top: 210px;
}
#capricorn .star.eleventh {
   left: 80px;
   top: 110px;
}
#capricorn .star.twelfth {
   left: 100px;
   top: 80px;
}
#capricorn .star.thirteenth {
   left: 105px;
   top: 60px;
}

#aquarius {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -o-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: -moz-linear-gradient(-135deg, #0F122E, #0B0E27);
   background: linear-gradient(-135deg, #0F122E, #0B0E27);
   float: left;
}
#aquarius .star.first {
   left: -100px;
   top: 190px;
}
#aquarius .star.second {
   left: -70px;
   top: 185px;
}
#aquarius .star.third {
   left: -70px;
   top: 120px;
}
#aquarius .star.fourth {
   left: -65px;
   top: 110px;
}
#aquarius .star.fifth {
   left: -70px;
   top: 300px;
}
#aquarius .star.sixth {
   left: -60px;
   top: 240px;
}
#aquarius .star.seventh {
   left: -75px;
   top: 95px;
}
#aquarius .star.eighth {
   left: -60px;
   top: 120px;
}
#aquarius .star.ninth {
   left: -30px;
   top: 90px;
}
#aquarius .star.tenth {
   left: -30px;
   top: 165px;
}
#aquarius .star.eleventh {
   left: 0;
   top: 210px;
}
#aquarius .star.twelfth {
   left: 60px;
   top: 120px;
}
#aquarius .star.thirteenth {
   left: 130px;
   top: 130px;
}

#pisces {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   background: #0F122E;
   background: -webkit-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -o-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: -moz-linear-gradient(-135deg, #0B0E27, #0F122E);
   background: linear-gradient(-135deg, #0B0E27, #0F122E);
   float: left;
}
#pisces .star.first {
   left: -50px;
   top: 90px;
}
#pisces .star.second {
   left: -65px;
   top: 110px;
}
#pisces .star.third {
   left: -50px;
   top: 120px;
}
#pisces .star.fourth {
   left: -40px;
   top: 135px;
}
#pisces .star.fifth {
   left: -55px;
   top: 190px;
}
#pisces .star.sixth {
   left: -70px;
   top: 240px;
}
#pisces .star.seventh {
   left: -100px;
   top: 270px;
}
#pisces .star.eighth {
   left: -70px;
   top: 260px;
}
#pisces .star.ninth {
   left: -10px;
   top: 230px;
}
#pisces .star.tenth {
   left: 0;
   top: 231px;
}
#pisces .star.eleventh {
   left: 50px;
   top: 220px;
}
#pisces .star.twelfth {
   left: 70px;
   top: 215px;
}
#pisces .star.thirteenth {
   left: 80px;
   top: 205px;
}
#pisces .star.fourteenth {
   left: 100px;
   top: 210px;
}
#pisces .star.fifteenth {
   left: 90px;
   top: 230px;
}
#pisces .star.sixteenth {
   left: 55px;
   top: 235px;
}




@-webkit-keyframes aurora {
   0% {background-color: #FC0025;}
   10% {background-color: #FC68D1;}
   20% {background-color: #CB99FC;}
   30% {background-color: #21E7FC;}
   40% {background-color: #00F1C8;}
   50% {background-color: #00F146;}
   60% {background-color: #00F1C8;}
   70% {background-color: #21E7FC;}
   80% {background-color: #CB99FC;}
   90% {background-color: #FC68D1;}
   100% {background-color: #FC0025;}
}

#aurora {
   background-size: cover;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   float: left;
   animation-name: aurora;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}

.constellation {
   display: flex;
   justify-content: center;
   margin: 0 0 400px 0;
   padding: 0;
}
.info p {
   padding: 0;
}


/* #aurora {
   background: linear-gradient (306deg,#F12900, #F13D4B, #F160DB, #D060F1, #4C6FF1, #4BEAF1, #38F1BD, #1CF13E);
   background-size: 1600% 1600%;
   height: 100vh;
   width: 100vw;
   margin: -10px 0;
   padding-bottom: 2px;
   float: left;
   -webkit-animation: AnimationName 14s ease infinite;
   -moz-animation: AnimationName 14s ease infinite;
   -o-animation: AnimationName 14s ease infinite;
   animation: AnimationName 14s ease infinite;
}
@-webkit-keyframes AnimationName {
   0%{background-position:0% 13%}
   50%{background-position:100% 88%}
   100%{background-position: 0% 13%}
}
@-moz-keyframes AnimationName {
   0%{background-position:0% 13%}
   50%{background-position:100% 88%}
   100%{background-position: 0% 13%}
}
@keyframes AnimationName {
   0%{background-position:0% 13%}
   50%{background-position:100% 88%}
   100%{background-position: 0% 13%}
} */





